<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro</h1>
    <form method="POST" action="{% url 'cadastrar_livros' %}"  enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_livro.as_p }}
        <p><input type="submit" value="Cadastrar"/></p>
    </form>
</body>
</html>