<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Minha biblioteca</h1>
    <h2>meus livros:</h2>
    <a href="{% url 'cadastrar_livro' %}">Cadastrar um novo livro</a>

    <ol>
        {% for livro in livros %}
            <li>
                <b>Título:</b> {{ livro.titulo }} por {{ livro.autor }}
                <a href="{% url 'atualizar_livro' livro.id %}">Editar</a>
                <a href="{% url 'deletar_livro' livro.id %}">Excluir</a>
            </li>
        {% empty %}
            <b>ainda não temos livros aqui</b>
        {% endfor %}
    </ol>
    
</body>
</html>