<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Minha biblioteca</h1>
    <h2>minhas musicas:</h2>
    <a href="{% url 'cadastrar_musica' %}">Cadastrar uma nova musica</a>

    <ol>
        {% for musica in musicas %}
            <li>
                <b>Título:</b> {{ musica.titulo }} por {{ musica.autor }}
                <a href="{% url 'atualizar_musica' musica.id %}">Editar</a>
                <a href="{% url 'deletar_musica' musica.id %}">Excluir</a>
            </li>
        {% empty %}
            <b>ainda não temos musicas aqui aqui</b>
        {% endfor %}
    </ol>
    
</body>
</html>